# Nix
result
result-*

# Node
node_modules/

# OS
.DS_Store

.pi/*
!.pi/messenger/
.pi/messenger/*
!.pi/messenger/crew/
.pi/messenger/crew/*
!.pi/messenger/crew/config.json
.pi-subagents/
.pi-dev/
.omo

docs/.obsidian/
